.idea

Final Project_MMDetection/Change Number & Combine/0. onepiece(dress)/images/
Final Project_MMDetection/Change Number & Combine/1. onepiece(jumpsuite)/images/
Final Project_MMDetection/Change Number & Combine/2. outer_cardigan/images/
Final Project_MMDetection/Change Number & Combine/3. outer_coat/images/
Final Project_MMDetection/Change Number & Combine/4. outer_jacket/images/
Final Project_MMDetection/Change Number & Combine/5. outer_jumper/images/
Final Project_MMDetection/Change Number & Combine/6. pants/images/
Final Project_MMDetection/Change Number & Combine/7. skirt/images/
Final Project_MMDetection/Change Number & Combine/8. top_blouse/images/
Final Project_MMDetection/Change Number & Combine/9. top_shirt/images/
Final Project_MMDetection/Change Number & Combine/10. top_sweater/images/
Final Project_MMDetection/Change Number & Combine/11. top_t-shirt/images/

Final Project_MMDetection/Image Data/

dataevery
datafinal